{% extends 'base.html' %} {% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ 'Toy Store' }}</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                In quis lorem quis metus laoreet sagittis sit amet vitae libero.
                Morbi condimentum efficitur maximus. Morbi a suscipit purus.
                Maecenas quis quam quam. Proin hendrerit, justo nec pharetra mattis,
                purus nisi interdum nulla, eu tincidunt lectus nisi id lectus.
                Etiam et nisi lacus. Nam ut leo egestas, rhoncus ligula non, pretium mauris.
                Nullam hendrerit lectus et dolor sollicitudin efficitur.

                Donec risus sem, placerat sit amet leo in, congue convallis eros.
                Duis ut ultricies sapien. Cras aliquam libero eget fermentum convallis.
                Mauris feugiat, arcu tempor scelerisque mattis, lorem massa semper elit,
                in euismod elit nisi sed sem. Maecenas risus metus, molestie ut congue ut,
                cursus eu lorem. Sed elementum faucibus dignissim. In turpis lorem,
                tempus in arcu in, ornare laoreet dui. Sed gravida metus nec mauris dapibus,
                sed cursus elit pretium. Sed id lorem risus.
            </p>
    </div>
{% endblock %}
